.container
  %legend Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    %input{:type => "hidden", name: 'album_id', :value => params[:album_id]}
    .input-field
      = f.label :email
      = f.email_field :email, autofocus: true
    .input-field
      = f.label "Password (#{@minimum_password_length} characters minimum)"
      = f.password_field :password, autocomplete: "off"
    .input-field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    = f.submit "Sign up", :class => "btn"
  = render "devise/shared/links"
