%main
  .container.z-depth-1.user_profile
    .profile_header
      .profile_background
        - if can? :edit, @user
          %a.btn-flat.profile_background_edit{:href => "#"} Change Cover
      .circle.profile_picture
        = image_tag(@user.avatar.url, class: 'circle profile_picture')
        - if can? :edit, @user
          %i.circle.user_avatar_edit.medium.mdi-image-camera-alt
      .user_name
        = @user.user_name
      - if @user.name && @user.email
        .contant-information
          %i.mdi-communication-email
          Email:
          #{@user.email}
      - if can? :manage, @user
        .edit-user.floating-action-btn
          = link_to edit_user_registration_path, class: 'btn-floating btn-large red' do
            %i.large.mdi-editor-mode-edit
    .profile_content
      .row
        .col.s12
          .card
            .shared-album.card-content
              - unless (@user == current_user)
                .album_title.grey-text.text-darken-4
                  Shared albums
                - unless @user.shared_albums.any?
                  .request
                    = link_to users_path, class: 'btn' do
                      %i.mdi-image-photo-album
                      Request albums
                - else
                  = link_to 'Show shared albums', user_shared_albums_path(user_id: @user.id)
              - else
                .album_title.grey-text.text-darken-4
                  Your albums
                = link_to 'Show albums', albums_path
            
