.album.card
  .album.card-image.waves-effect.waves-block.waves-light
    = link_to album_path(album) do
      = image_tag album.photos.first.image_url(:album_title)
  .card-content
    = link_to album_path(album), class: 'album card-title active grey-text text-darken-4' do
      #{album.name.capitalize}
    - if can? :manage, album
      .album-icon.share
        = link_to share_album_path(album), remote: true do
          %i.mdi-social-share
    .album-icon.activator
      %i.mdi-action-info-outline
  .card-reveal
    %span.album.card-title.activator.grey-text.text-darken-4
      #{album.name.capitalize}
      %i.mdi-navigation-close.right
    .col.s12
      - unless album.viewers.any?
        .shared-title No viewers
      - else
        .shared-title Shared with #{album.viewers.count} users
        - album.viewers.first(4).each do |viewer|
          = link_to user_path(viewer) do
            = image_tag(viewer.avatar.url(:thumb), {"data-delay" => "50", "data-position" => "bottom", "data-tooltip" => "#{viewer.user_name}", class: 'connection circle tooltipped'})
        - if album.viewers.size > 4
          = link_to 'Show more', album_viewers_path(album), remote: true, class: 'link right'
