%tr
  %td= album.name
  %td= album.description
  %td= link_to 'Show', album_path(album)
  - if can? :manage, album
    %td= link_to 'Edit', edit_album_path(album)
    %td= link_to 'Destroy', album_path(album), method: :delete, data: { confirm: 'Are you sure?' }
