%script#name_block{:type => "text/html"}
  .name-block{ data: { id: "{{ id }}" } }
    {{ name }}
    %i.mdi-content-clear
%main
  .albums_container
    - if user_signed_in? && current_user.shared_albums
      .album_title.grey-text.text-darken-4
        Shared with you
      .shared.album_cards
        = render @shared_albums
      #shared_paginator
        = paginate @shared_albums, :remote => true, :param_name => 'shared_albums'
    - if user_signed_in? && current_user.shared_albums
      .albums_divider
    - if user_signed_in?
      .album_title.grey-text.text-darken-4
        Your albums
        .floating-action-btn
          = link_to(new_album_path, {"data-delay" => "50", "data-position" => "left", "data-tooltip" => "Add Album", class: 'btn-floating btn-large red tooltipped'}) do
            %i.large.mdi-content-add
    .users.album_cards
      = render @user_albums
    #paginator
      = paginate @user_albums, :remote => true, :param_name => 'user_albums'
