%script#name_block{:type => "text/html"}
  .name-block{ data: { id: "{{ id }}" } }
    {{ name }}
    %i.mdi-content-clear
%main
  .pa_album
    .pa_album_title.grey-text.text-darken-4
      #{@album.name.capitalize}
    %p
      = link_to user_path(@album.owner), class: "grey-text text-darken-4" do
        = image_tag(@album.owner.avatar.thumb.url, class: 'avatar-img')
      - if current_user == @album.owner
        created #{@album.created_at.to_date}
      - else
        shared #{@album.created_at.to_date}
    .pa_album_images
      = render @photos

    - if can? :manage, @album
      .fixed-action-btn{:style => "bottom: 200px; right: 50px;"}
        %a.btn-floating.btn-large.red
          %i.large.mdi-editor-mode-edit
        %ul
          %li
            = link_to new_album_photo_path(@album), remote: true, class: 'btn-floating blue' do
              %i.large.mdi-editor-insert-photo
          %li
            = link_to edit_album_path(@album), class: "btn-floating yellow" do
              %i.large.mdi-editor-mode-edit
          %li
            = link_to share_album_path(@album), remote: true, class: 'btn-floating green' do
              %i.large.mdi-social-share
