%p
  %strong Name:
  = @album.name
%p
  %strong Description:
  = @album.description
%p
  %strong User:
  = @album.owner.name
= render @photos
%p
  - if can? :manage, @album
    = link_to 'Add a Photo', new_album_photo_path(@album)
    |
    = link_to 'Edit', edit_album_path(@album)
    |
    = link_to '#share-album', class: 'modal-trigger' do
      %i.mdi-social-share
    |
  = link_to 'Back', albums_path

= render 'shared/share_modal'
