#add_photo.modal.modal-fixed-footer
  = form_for [album, photo], html: { multipart: true } do |f|
    .modal-content
      .row
        %h4.col.offset-s1 Add photos to '#{album.name.capitalize}'
      .row
        .field
        = image_tag(photo.image_url) if photo.image?
        = f.file_field :image
        = f.hidden_field :image_cache
    .modal-footer
      .actions
        = f.hidden_field :album_id
        = link_to 'Cancel', album_path(album), class: 'waves-effect waves-red btn-flat modal-action'
        = f.submit 'Add', class: 'green darken-1 white-text waves-green btn-flat modal-action'
